<div class='container'>

<h1><%= @current_user.username %>'s projects</h1>
<%= link_to "Create New Project", new_project_path %>
<div id='show-content' class='col-md-12'>
<ul>
<% @current_user.projects.each do |project| %>
  <li><%= link_to project.title, project_path(project) %></li>
  <ul><li><%= project.summary %></li></ul>
<% end %>
</ul>

</div>
</div>