<div class='container'>

  <h1 class='section-title'><%= @current_user.username %>'s projects</h1>
  <%= link_to "Create New Project", new_project_path, class: 'form-button btn btn-defaul btn-large form-buttons' %>

    <div class="row col-md-12 objects">
      <% @current_user.projects.each do |project| %>
        <div class="panel panel-default col-md-5 project-panel">
          <div class="panel-body">
            <h3><%= link_to project.title, project_path(project) %></h3>
            <h5><%= project.summary %></h5>
          </div>
        </div>
      <% end %>
    </div>

</div>