<div class= "container">
  <div id="project-show-content" class= "col-md-12">
    <% if @project %>
    <h1 class="title"><%= @project.title %></h1>
      <div class="container-fluid row">
          <div class="col-md-3">
            <div class="panel panel-default panel-body" id= "categories">
              <h3 class ="#Chapters"><a class = "project-sort-button" href= "#">Chapters</a></h3>
              <h3 class = "#Characters"><a class = "project-sort-button developers" href= "#">    Characters</a></h3>
              <h3 class ="#Plot Lines"><a class = "project-sort-button" href= "#">Plot Lines</a></h3>
            </div>
        </div>

          <div id = "project-summary" class= "col-md-8">
            <div id="project-summary" class="panel panel-default">
              <div class="panel-body"><h4><%= @project.summary %></h4></div>
            </div>
          </div>
    <% end %>
  </div>
</div>