<h1>Characters</h1>
<% if @characters %>
  <ul><% @characters.each do |char| %>
    <li><%= char.name %></li>
      <ul>
      	<li><%= char.description %></li>
      </ul>
  <% end %></ul>
  <%= link_to 'Add a character', new_character_path(project: @project) if @creator %>
<% end %>
