<div class='container'>
  <div class="row">
    <div class="col-xs-12">
    <h1 class='section-title'>Characters</h1>
  </div>
</div>
</div>
<% if @characters %>
  <div class="row col-md-12">
  <% @characters.each do |char| %>
<div class="panel panel-default col-md-4">
  <div class="panel-body">
    <h3><%= char.name %></h3>
    <h5><%= char.description %></h5>
  </div>
</div>
  <% end %>
<% end %>
</div>
