.jumbotron {
  background-image: image-url("books.jpg");
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 0px;
  height: 100vh;
}

.navbar {
  margin-bottom: 0px;
}

a {
  color: #c16150;
}

.panel {
  border: solid black;
}

.custom-jumbotron-inner-container {
  background-color: rgba(182,16,5,0.6);
  color: white;
  margin: auto;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 125px;
  text-align: center;
  border: white solid 3px;
}

.section-title {
  text-align: center;
}
// .custom-jumbotron-inner-container h1 {
//   font-size: 6em;
//   width: 60%;
//   margin: auto;
//   // color: black;
//  // background-color: rgba(211,211,211,0.4);
// }

.title {
  text-align: center;
}

.dropdown-color {
  color: black;
}

.form-buttons {
  position: relative;
  right: -700px;
  top: -40px;
  border-color: #b61005;
  color: #777;
}

.form-buttons:hover  {
  color: white;
  background-color: #b61005;
}

#copyright {
  color: #777;
  margin-top: 2%;
}

.form-header-container{
background-color: rgba(182,16,5,0.6);
  color: white;
  margin: auto;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 60px;
  padding-right: 4%;
  padding-left: 4%;
  border: white solid 3px;
}

.form-header {
  text-align: center;
  color: rgba(182,16,5,0.6);
}



