// Place all the styles related to the plot_points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#plot-btn {
  text-align: center;
  margin-left: 40%;
  margin-top: 4%;
}

.plot-panel {
  margin-left: 2%;
  height: 150px;
}

.plot-form-txt {
  display: block;
}

.plot-point-form-input {
  margin: 1%;
}

.plot-point-form-control {
  display: inline-block;
}

#plot-pt-txt {
  color: black;
}

#plot-form-txt {
  color: white;
}

