// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-content {
  width: 100%;
  margin-top: 3%
}
.categories {
  padding-top: 0px;
}

.project-panel {
  margin-left: 2%;
  height: 200px;
  overflow: scroll;
}

.new-project-form {

}