// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-content {
  width: 100%;
  margin-top: 10%;
}

.panel {
  border: solid black;
}

.sort-button {
  color: #c16150;
}

.categories {
  padding-top: 0px;
}