.register-inner-container{
background-color: rgba(182,16,5,0.6);
  color: white;
  margin: auto;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 60px;
  padding-right: 4%;
  padding-left: 4%;
  border: white solid 3px;
}