<div class="jumbotron">
  <div class="container">
  <div class="custom-jumbotron-inner-container">
    <h1>Story Builder</h1>
    <h3>The perfect tool to write your next novel</h3>
  </div>
</div>
</div>
